<li class="relative bg-[#FFFFF0] lg:p-4 drop-shadow-lg rounded-md">
  <%= link_to recipe_path(recipe.id), data: {turbo_frame: "_top"} do %>
    <%= image_tag recipe_image(recipe), loading: "lazy", class: "aspect-[10/8] w-72 rounded-md"%>
    <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">
      <%= recipe.name %>
    </p>
    <p class="pointer-events-none block text-sm font-medium text-gray-500">
      by: <%= recipe.user.first_name %> <%= recipe.user.last_name %>
    </p>
  <% end %>
</li>