<div>
  <div class="place-self-center">
    <%= form_with( url: root_path, method: :get, data: {controller: "recipes"}) do |f| %>
      <div class="flex justify-center ">
        <%= f.search_field :name, placeholder: "name", value: params[:name], class: "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4", "data-action": "recipes#submit" %>
        <%= f.submit "Search", class: "px-4" %>
      </div>
    <% end %>
  </div>
  <ul class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-4 lg:grid-cols-4 xl:gap-x-6 lg:p-6 sm:p-4 p-2" id="recipes">
    <%= render @recipes %>
  </ul>
  <%= turbo_frame_tag :pagination, loading: :lazy, src: root_path(format: :turbo_stream, page: @pagy.next, name: params[:name]) %>
</div>
