<div class="container max-w-2xl">
  <%= turbo_stream_from @recipe %>
  <div id="<%=dom_id(@recipe)%>">
    <div class="px-6">
      <% if @user %>
        <%= link_to "Edit Recipe", edit_recipe_path(@recipe) if @recipe.user == @user %>
      <% end %>
    </div>
    <div class="flex flex-col max-w-2xl px-4 py-8 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8 justify-center items-center z-20">
      <div class="relative pb-10 flex justify-center items-center">
        <%= image_tag recipe_image(@recipe), class: "aspect-[7/5]  w-2/3 rounded-md"%>
        <%= image_tag avatar_url(@recipe.user), class: "absolute hover:w-28 hover:h-28 hover:shadow-lg rounded-full w-24 h-24 bottom-[-20px] p-1 bg-white z-10 ease-out duration-300" %>
      </div>
    </div>
    <div class="flex flex-col">
      <p class="text-gray-900 text-sm text-center pb-8">
        RECIPE BY <%= link_to @recipe.user.full_name.upcase, users_path(@recipe.user), class: "hover:text-gray-300" %>
      </p>
      <p class="text-3xl text-center font-bold"> <%= @recipe.name.upcase %></p>
      <span class="mt-6 mb-10 p-4 border-t-2 border-b-2 border-gray-300 w-full">
        <div class="grid grid-cols-3 text-xs ">
          <div class="flex flex-col justify-self-start place-content-start border-r-2 border-gray-300 h-full text-left px-12 py-1">
            <div class="py-1 ">
              LEVEL: <%= @recipe.difficulty.upcase %>
            </div>
            <div class="py-1">
              TOTAL: <%= pluralize(@recipe.total_time, "minute") %>
            </div>
          </div>
          <div class="flex flex-col border-r-2 border-gray-300 text-left px-14  py-1">
            <div class="py-1">
              PREP: <%= pluralize(@recipe.prep_time, "minute") %>
            </div>
            <div class="py-1">
              COOK: <%= pluralize(@recipe.cook_time, "minute") %>
            </div>
          </div>
          <div class="flex flex-col text-left px-14  py-1">
            <div class="py-1">
              YIELD: <%= pluralize(@recipe.yield, "serving") %>
            </div>
            <div class="py-1">
              Nutrition Facts
            </div>
          </div>
        </div>
      </span>
      <div class="grid grid-cols-2 gap-x-4 mb-10">
        <div class="">
          <h5 class="font-semibold text-xl py-2 text-center">Ingredients</h5>
          <ul>
            <% @recipe.recipe_ingredients.each do |ingredient| %>
              <li><%= ingredient.recipe_ingredient %></li>
            <% end %>
          </ul>
        </div>
        <div class="">
          <h5 class="font-semibold text-xl py-2 text-center">Instructions</h5>
          <p class="text-sm"> <%= @recipe.instructions %></p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="comments">
    <h1 class="text-center text-xl py-2">Comments</h1>
    <%= render "recipes/comments/comments", {comments: @comments, recipe_id: @recipe.id, user: @user } %>
  </div>
</div>