<div>
  <%= turbo_stream_from @recipe %>
  <div id="<%=dom_id(@recipe)%>">
    <%= render @recipe, recipe: @recipe %>
  </div>
  
  <%= turbo_stream_from @recipe, :comments %>
  <div id="comments">
    <%= render "comments/comments", {comments: @comments, recipe_id: @recipe.id} %>
  </div>
</div>